services:
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    restart: unless-stopped
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_OPTS: "-Dkafka.logs.dir=/var/lib/kafka/data -Dlog4j.configuration=file:/opt/kafka/config/log4j.properties"
      KAFKA_TOPIC: "hash_queue"
    command: >
      bash -c "if [ ! -f /var/lib/kafka/data/meta.properties ]; then
        echo 'Formatting storage directory...';
        /opt/kafka/bin/kafka-storage.sh format --ignore-formatted --config /opt/kafka/config/server.properties --cluster-id Xw--cSYEQuuf8fTfWEYCQg;
      fi &&
      /opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties"
    volumes:
      - ./server.properties:/opt/kafka/config/server.properties
      - kafka_data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server kafka:9092 > /dev/null 2>&1"]
      interval: 10s
      timeout: 5s
      retries: 6
      start_period: 20s
  hash_gen_service:
    build:
      context: ./hash_generator_service
      dockerfile: Dockerfile
    container_name: hash_generator_service
    restart: always
    depends_on:
      kafka: 
        condition: service_healthy
    volumes:
      - ./hash_generator_service/config:/app/config
  mysql:
    image: mysql:latest
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pastebin
      MYSQL_USER: pasteuser
      MYSQL_PASSWORD: pastepass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 10s     
      timeout: 5s     
      retries: 5          
      start_period: 20s   
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # Web-консоль
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
  main_service:
    build:
      context: ./main_service
      dockerfile: Dockerfile
    container_name: main_service
    restart: always
    ports:
      - "8082:8082"
    depends_on:
      kafka: 
        condition: service_healthy
      mysql:
        condition: service_healthy
      minio:
        condition: service_healthy
      hash_gen_service:
        condition: service_started
    volumes:
      - ./main_service/config:/app/config

volumes:
  kafka_data:
  mysql_data:
  minio_data:
